body {
    margin: 0;
    padding-top: 100px;
}

#main-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 4px;
    opacity: 0.8;
}

h2 {
    text-align: center;
    font-weight: 500;
    margin-top: 0;
    opacity: 0.8;
}

#check-icon {
    width: max-content;
    background: #009900;
    color: #fff;
    padding: 60px;
    font-size: 80px;
    border-radius: 50%;
}


.order-animation {
    animation-name: orderAnimation;
    animation-duration: 800ms;
    transition: animation 800ms ease-in;
}

@keyframes orderAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        trandform: scale(1.1)
    }

    /* 100% {
        transform: scale(1.5);
    } */
}

@media (max-width: 600px) {
    #main-section {
        height: 50vh;
    }

    #check-icon {
        padding: 30px;
        font-size: 50px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }
}